// FONTS
    $font-title: "'Oswald', sans-serif";
    $font-base: "'Roboto', sans-serif";

// COLORS
    $primaryColor: rgb(46,101,55);
    $secondaryColor: rgb(235,150,71);
    $tertiaryColor: rgb(246,235,105);