#contacts {
    padding: 25px;
    margin-bottom: 100px;
}

.contacts__title {
    text-align: center;
    margin-bottom: 25px;
}

.contacts__text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__link > a > i {
    margin-right: 10px;
}

.contacts__text--button {
    font-weight: bold;
    cursor: pointer;
    color: $primaryColor;
    font-size: larger;
    text-decoration: underline;
    display: block;
}

.contacts__social {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.contacts__social > a > i {
    color: $primaryColor;
    font-size: 48px;
}

.contacts__logo {
    margin-top: 25px;
}


@media screen and (min-width: 850px) {
   .contacts__container {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .contacts__text {
    width: 49%;
   }

   .contacts__text--button:hover {
    letter-spacing: 0.3rem;
    transition: all 0.5s ease-in-out;
   }

   .contacts__logo {
    width: 49%;
   }

   .contacts__social > a:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
   }
}
