#services {
    display: flex;
    flex-direction: column;
}

.services__title {
    text-align: center;
    margin-bottom: 25px;
}

.creations {
    padding: 25px;
    background-color: $primaryColor;
    margin-bottom: 25px;
}

.creations__title {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 15px;
}

.creations__text {
    color: whitesmoke;
    text-align: center;
}

.entretiens {
    padding: 25px;
    background-color: $primaryColor;
    margin-bottom: 25px;
}

.entretiens__title {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 15px;
}

.entretiens__text {
    color: whitesmoke;
    text-align: center;
}

.swiper {
    width: 100%;
    height: auto;
  }

.swiper-button-prev, .swiper-button-next {
    color: whitesmoke !important;
}

@media screen and (min-width: 850px) {
    .services__container {
        display: flex;
        justify-content: space-around;
    }

    .creations {
        width: 40%;
    }

    .entretiens {
        width: 40%;
    }
}

