#services {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.services__title {
    text-align: center;
    margin-bottom: 25px;
}

.creations {
    padding: 25px;
    background-color: $primaryColor;
    margin-bottom: 25px;
    border-radius: 10px;
}

.creations__title {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 25px;
}

.creations__text {
    color: whitesmoke;
    text-align: center;
    margin-top: 25px;
}

.entretiens {
    padding: 25px;
    background-color: $primaryColor;
    margin-bottom: 25px;
    border-radius: 10px;
    position: relative;
}

.entretiens__title {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 25px;
}

.entretiens__badge {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 3;
}

.entretiens__text {
    color: whitesmoke;
    text-align: center;
    margin-top: 25px;
}

.swiper {
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
  }

.swiper-button-prev, .swiper-button-next {
    color: whitesmoke !important;
}

@media screen and (min-width: 850px) {
    .services__container {
        display: flex;
        justify-content: space-around;
    }

    .creations {
        width: 40%;
    }

    .entretiens {
        width: 40%;
    }
}

